/* Section 1 */

.img-sec1-home{
    width: 450px;
    height: auto;
}
.sec1-homepage{
    margin: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.sec1-homepage h1{
    padding: 10px 0;
}
.sec1-homepage p{
    padding: 0 0 10px 0;
}

/* Phone Media View */

@media (max-width: 1260px) {
    .img-sec1-home{
        width: 400px;
        height: auto;
    }
    .sec1-homepage{
        display: block;
        justify-content: center;
        align-items: center;
        border: ;
    }
}